"*":
  "atom-beautify":
    general:
      _analyticsUserId: "04e2eea8-98ff-4fdf-adc1-2db5e681e3d8"
    ruby: {}
  "autocomplete-elixir": {}
  "autocomplete-go":
    snippetMode: "nameAndType"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "linter-rebar3"
      "linter-erlang"
      "go-debug"
      "tester-go"
      "language-gfm"
      "markdown-preview"
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "open-on-bitbucket"
      "symbol-gen"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "railscast-theme"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "c7566da2-9e73-a593-82c1-227b96d38a26"
  "go-plus":
    currentPanelHeight: "29.03430749682338vh"
    panelDisplayMode: "closed"
  linter:
    errorPanelHeight: 24
  "linter-erlang": {}
  "linter-rebar3": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "spell-check": {}
  "tree-view":
    autoReveal: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    incrementalSearch: true
    stayOnYank: true
  welcome:
    showOnStartup: false
